/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-ene-2022, 14:26:12
    Author     : Fiorella
*/
 #slider{
  width: 450px;
  height: 450px;
  background-position: center;
  border-radius: 20px;
  /*box-shadow: -10px -7px 7px -10px #003eff;*/
  box-shadow: 0px 0px 18px 0px #003eff;   
}
#titulo{
    text-shadow: 0px 5px 3px rgba(48,50,50,0.48);;
}


